# Base URLs
NEXT_PUBLIC_SITE_URL=https://fitbase.sk/
NEXT_PUBLIC_ENV=staging

# Future integrations (placeholders)
NEXT_PUBLIC_SUPABASE_URL=https://xjdrjyfbookmabcycljo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqZHJqeWZib29rbWFiY3ljbGpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNjEyMjIsImV4cCI6MjA4OTgzNzIyMn0.GPAk7XSEgnrW21sesTaGon46tASWFpyxrUy3UDCr0bM
SUPABASE_SERVICE_ROLE_KEY=VLOZTE_SEM_SERVICE_ROLE_KEY_ZO_SUPABASE

STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

# AI (Novita AI)
NOVITA_API_KEY=VLOZTE_SEM_API_KEY
NOVITA_BASE_URL=https://api.novita.ai/openai
NOVITA_MODEL=qwen/qwen3.5-35b-a3b
